{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Inicio {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <h3 class="mt-3">Estadísticas</h3>
            <div class="card mt-3">
                <div class="card-header">
                  Hola {{ app.user.name }} {{ app.user.lastname }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Total posts: 500</h5>
                  <p class="card-text">Creados hoy: 12</p>
                  <a href="{{ path('post.create') }}" class="btn btn-primary btn-block">Crear Post</a>
                </div>
            </div>
            <a href="{{ path('contact') }}" class="btn btn-secondary btn-block mt-5">Registros de contacto</a>
        </div>
        <div class="col-9">
            <h3 class="mt-3">Listado de posts</h3>
            <table class="table table-bordered mt-3">
                <thead class="table-light">
                    <tr>
                      <th scope="col">Título</th>
                      <th scope="col">Fecha publicación</th>
                      <th scope="col">Autor</th>
                      <th scope="col">Ver</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                  {% for post in posts %}
                  <tr>
                    <th>{{ post.title }}</th>
                    <td>{{ post.publishdate|format_datetime('medium', 'short') }}</td>
                    <td>{{ post.author }}</td>
                    <td><a href="{{ path('post.show', {'post' : post.id}) }}" class="text-success">Ver contenido</a></td>
                    <td><a href="{{ path('post.edit', {'post' : post.id}) }}" class="text-success">Editar</a></td>
                    <td>
                      <form method="POST" action="{{ path('post.delete', {'post': post.id}) }}" onsubmit="return confirm('Estas seguro de eliminar este Post?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                        <button class="text-danger btn btn-sm btn-link">Eliminar</button>
                      </form>
                    </td>
                  </tr>
                  {% else %}
                  <tr>
                      <td colspan="6" class="text-center">No existen registros</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
