{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Bienvenido al Blog {% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-3 text-center">Bienvenido al Blog</h1>

    <div class="row mt-3">
        {% for post in posts %}
            <div class="col-12 col-md-3 col-lg-3 mt-2">
                <div class="card">
                    {% if post.image %}
                        <img src="{{ asset('uploads/post_images/' ~ post.image) }}" class="card-img-top" style="height: 170px;">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text text-justify">{{ post.content|striptags|slice(0, 50) }} ...</p>
                    <a href="{{ path('post.show', {'post' : post.id}) }}" class="btn btn-primary btn-block">Ver Post</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12 text-center">
                <strong>No existen registros</strong>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
